<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta charset="utf-8">
        <style>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/data.css') }}">
        </style>
    </head>
    <body>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
         <script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>pt>
    </body>
</html>