table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        }

.main-box {
   font-family: Tahoma, Verdana, sans-serif;
   margin: auto;
   width: 50%;
   padding: 2px;
}

table {
   width: 100%;
}

footer {
   text-align: center;
}